In [47]:
import pandas as pd
df = pd.read_csv('D:\\raw\\bank_transactions.csv')
df

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000

# câu 1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DAY        39 non-null     int64
 1   MONTH      39 non-null     int64
 2   YEAR       39 non-null     int64
 3   HOURS      39 non-null     object
 4   FROM_CODE  39 non-null     object
 5   FROM       39 non-null     object
 6   TO_CODE    39 non-null     object
 7   TRANS      39 non-null     int64
 8   MONEY      39 non-null     int64
dtypes: int64(5), object(4)
memory usage: 2.9+ KB

# câu 2

In [4]:
df['Datetime'] = pd.to_datetime( df[['YEAR', 'MONTH', 'DAY']])
df

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY,Datetime
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000,2022-05-01
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000,2022-05-01
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000,2022-05-01
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000,2022-05-01
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000,2022-05-01
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000,2022-06-01
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000,2022-06-01
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000,2022-06-01
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000,2022-06-01
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000,2022-07-01
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000,2022-07-02
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000,2022-09-02
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000,2022-09-02
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000,2022-09-03
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000,2022-09-03
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000,2022-10-04
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000,2022-10-04
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000,2022-10-04
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000,2022-11-04
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000,2022-11-05
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000,2022-02-05
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000,2022-02-05
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000,2022-03-06
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000,2022-04-06
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000,2022-04-06
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000,2022-04-07
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000,2022-04-07
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000,2022-05-09
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000,2022-05-09
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000,2022-06-09
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000,2022-07-09
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000,2022-08-09
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000,2022-09-10
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000,2022-10-10
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000,2022-11-10
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000,2022-12-10
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000,2022-12-10
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000,2022-12-10
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000,2022-12-10

In [5]:
df2 = pd.DataFrame(df.groupby(['Datetime','TO_CODE'])['MONEY'].mean())

df2

                               MONEY
Datetime   TO_CODE
2022-02-05 Agribank     1.194962e+09
           SeABank      1.992725e+09
2022-03-06 HDBank       1.379482e+09
2022-04-06 MB           1.539321e+09
           VIB          1.280742e+09
2022-04-07 BIDV         4.707470e+08
           DongABank    1.366064e+09
2022-05-01 ABBANK       7.780000e+08
           BIDV         2.010421e+09
           DongABank    1.965643e+09
           OceanBank    1.254300e+09
           SeABank      8.546720e+08
2022-05-09 SeABank      1.799407e+09
           VIB          1.168746e+09
2022-06-01 Agribank     1.622965e+09
           HDBank       1.696364e+09
           MSB          1.979279e+09
           Vietcombank  3.703240e+08
2022-06-09 MB           1.692257e+09
2022-07-01 VIB          3.350000e+08
2022-07-02 MB           1.405196e+09
2022-07-09 MB           1.695602e+09
2022-08-09 SeABank      1.876064e+09
2022-09-02 SHB          4.247540e+08
           TPBank       1.918320e+09
2022-09-03 MSB          1.263343e+09
           SeABank      1.903641e+09
2022-09-10 VIB          1.418669e+09
2022-10-04 BIDV         1.062886e+09
           OceanBank    9.857930e+08
2022-10-10 MB           1.155276e+09
2022-11-04 BIDV         1.549094e+09
2022-11-05 DongABank    6.824680e+08
2022-11-10 VIB          9.854980e+08
2022-12-10 ACB          9.055730e+08
           MB           9.026880e+08
           VIB          1.979311e+09

In [6]:
df2[df2['MONEY'] == df2['MONEY'].max()]

                           MONEY
Datetime   TO_CODE
2022-05-01 BIDV     2.010421e+09

In [7]:
df2[df2['MONEY'] == df2['MONEY'].min()]

                          MONEY
Datetime   TO_CODE
2022-07-01 VIB      335000000.0

# câu 3

In [8]:
df3= pd.DataFrame(df.groupby(['Datetime'])['TRANS'].count())
df3

            TRANS
Datetime
2022-02-05      2
2022-03-06      1
2022-04-06      2
2022-04-07      2
2022-05-01      5
2022-05-09      2
2022-06-01      4
2022-06-09      1
2022-07-01      1
2022-07-02      1
2022-07-09      1
2022-08-09      1
2022-09-02      2
2022-09-03      2
2022-09-10      1
2022-10-04      3
2022-10-10      1
2022-11-04      1
2022-11-05      1
2022-11-10      1
2022-12-10      4

In [9]:
df3[df3['TRANS'] == df3['TRANS'].max()]

            TRANS
Datetime
2022-05-01      5

In [10]:
df3_2= pd.DataFrame(df.groupby(['MONTH','FROM'])['TRANS'].count())
df3_2

                                               TRANS
MONTH FROM
2     Ngân hàng Đông Á                             1
      Ngân hàng Đầu tư và Phát triển Việt Nam      1
3     Ngân hàng Ngoại Thương Việt Nam              1
4     Ngân hàng An Bình                            1
      Ngân hàng NN&PT Nông thôn Việt Nam           1
      Ngân hàng Phát triển TP Hồ Chí Minh          1
      Ngân hàng Á Châu                             1
5     Ngân hàng ANZ Việt Nam                       2
      Ngân hàng An Bình                            1
      Ngân hàng dầu khí toàn cầu                   1
      Ngân hàng Á Châu                             1
      Ngân hàng Đại Dương                          2
6     Ngân Hàng Đông Nam Á                         2
      Ngân hàng Hàng Hải                           1
      Ngân hàng Đông Á                             1
      Ngân hàng Đầu tư và Phát triển Việt Nam      1
7     Ngân hàng Hàng Hải                           1
      Ngân hàng NN&PT Nông thôn Việt Nam           1
      Ngân hàng Ngoại Thương Việt Nam              1
8     Ngân hàng Đầu tư và Phát triển Việt Nam      1
9     Ngân hàng Phát triển TP Hồ Chí Minh          1
      Ngân hàng Quân đội                           1
      Ngân hàng Sài Gòn - Hà Nội                   1
      Ngân hàng quốc tế                            1
      Ngân hàng Đông Á                             1
10    Ngân hàng Phát triển TP Hồ Chí Minh          1
      Ngân hàng Sài Gòn                            1
      Ngân hàng Tiên Phong                         1
      Ngân hàng Việt Nam Thịnh Vượng               1
11    Ngân hàng Quân đội                           1
      Ngân hàng dầu khí toàn cầu                   1
      Ngân hàng Đại Dương                          1
12    Ngân hàng Quân đội                           1
      Ngân hàng quốc tế                            1
      Ngân hàng Đầu tư và Phát triển Việt Nam      2

In [11]:
df3_2[df3_2['TRANS'] == df3_2['TRANS'].max()]

                                               TRANS
MONTH FROM
5     Ngân hàng ANZ Việt Nam                       2
      Ngân hàng Đại Dương                          2
6     Ngân Hàng Đông Nam Á                         2
12    Ngân hàng Đầu tư và Phát triển Việt Nam      2

# câu 4

In [12]:
df4= pd.DataFrame(df.groupby(['Datetime','TO_CODE'])['TRANS'].count())
df4

                        TRANS
Datetime   TO_CODE
2022-02-05 Agribank         1
           SeABank          1
2022-03-06 HDBank           1
2022-04-06 MB               1
           VIB              1
2022-04-07 BIDV             1
           DongABank        1
2022-05-01 ABBANK           1
           BIDV             1
           DongABank        1
           OceanBank        1
           SeABank          1
2022-05-09 SeABank          1
           VIB              1
2022-06-01 Agribank         1
           HDBank           1
           MSB              1
           Vietcombank      1
2022-06-09 MB               1
2022-07-01 VIB              1
2022-07-02 MB               1
2022-07-09 MB               1
2022-08-09 SeABank          1
2022-09-02 SHB              1
           TPBank           1
2022-09-03 MSB              1
           SeABank          1
2022-09-10 VIB              1
2022-10-04 BIDV             2
           OceanBank        1
2022-10-10 MB               1
2022-11-04 BIDV             1
2022-11-05 DongABank        1
2022-11-10 VIB              1
2022-12-10 ACB              1
           MB               2
           VIB              1

In [13]:
df4[df4['TRANS'] == df4['TRANS'].max()]

                    TRANS
Datetime   TO_CODE
2022-10-04 BIDV         2
2022-12-10 MB           2

In [14]:
df4_2= pd.DataFrame(df.groupby(['MONTH','TO_CODE'])['TRANS'].count())
df4_2

                   TRANS
MONTH TO_CODE
2     Agribank         1
      SeABank          1
3     HDBank           1
4     BIDV             1
      DongABank        1
      MB               1
      VIB              1
5     ABBANK           1
      BIDV             1
      DongABank        1
      OceanBank        1
      SeABank          2
      VIB              1
6     Agribank         1
      HDBank           1
      MB               1
      MSB              1
      Vietcombank      1
7     MB               2
      VIB              1
8     SeABank          1
9     MSB              1
      SHB              1
      SeABank          1
      TPBank           1
      VIB              1
10    BIDV             2
      MB               1
      OceanBank        1
11    BIDV             1
      DongABank        1
      VIB              1
12    ACB              1
      MB               2
      VIB              1

In [15]:
df4_2[df4_2['TRANS'] == df4_2['TRANS'].max()]

               TRANS
MONTH TO_CODE
5     SeABank      2
7     MB           2
10    BIDV         2
12    MB           2

# câu 5

In [16]:
df5= pd.DataFrame(df.groupby(['FROM','TO_CODE'])['TRANS'].count())
df5

                                                     TRANS
FROM                                    TO_CODE
Ngân Hàng Đông Nam Á                    Agribank         1
                                        MB               1
Ngân hàng ANZ Việt Nam                  BIDV             1
                                        SeABank          1
Ngân hàng An Bình                       DongABank        1
                                        OceanBank        1
Ngân hàng Hàng Hải                      HDBank           1
                                        MB               1
Ngân hàng NN&PT Nông thôn Việt Nam      MB               1
                                        VIB              1
Ngân hàng Ngoại Thương Việt Nam         HDBank           1
                                        VIB              1
Ngân hàng Phát triển TP Hồ Chí Minh     MB               2
                                        SHB              1
Ngân hàng Quân đội                      ACB              1
                                        TPBank           1
                                        VIB              1
Ngân hàng Sài Gòn                       BIDV             1
Ngân hàng Sài Gòn - Hà Nội              SeABank          1
Ngân hàng Tiên Phong                    OceanBank        1
Ngân hàng Việt Nam Thịnh Vượng          BIDV             1
Ngân hàng dầu khí toàn cầu              DongABank        1
                                        SeABank          1
Ngân hàng quốc tế                       MB               1
                                        MSB              1
Ngân hàng Á Châu                        ABBANK           1
                                        BIDV             1
Ngân hàng Đông Á                        Agribank         1
                                        VIB              1
                                        Vietcombank      1
Ngân hàng Đại Dương                     BIDV             1
                                        DongABank        1
                                        VIB              1
Ngân hàng Đầu tư và Phát triển Việt Nam MB               1
                                        MSB              1
                                        SeABank          2
                                        VIB              1

###########################

# câu 8

In [17]:
df8= pd.DataFrame(df.groupby(['FROM','Datetime'])['MONEY'].sum())
df8

                                                         MONEY
FROM                                    Datetime
Ngân Hàng Đông Nam Á                    2022-06-01  1622965000
                                        2022-06-09  1692257000
Ngân hàng ANZ Việt Nam                  2022-05-01  2010421000
                                        2022-05-09  1799407000
Ngân hàng An Bình                       2022-04-07  1366064000
                                        2022-05-01  1254300000
Ngân hàng Hàng Hải                      2022-06-01  1696364000
                                        2022-07-09  1695602000
Ngân hàng NN&PT Nông thôn Việt Nam      2022-04-06  1280742000
                                        2022-07-02  1405196000
Ngân hàng Ngoại Thương Việt Nam         2022-03-06  1379482000
                                        2022-07-01   335000000
Ngân hàng Phát triển TP Hồ Chí Minh     2022-04-06  1539321000
                                        2022-09-02   424754000
                                        2022-10-10  1155276000
Ngân hàng Quân đội                      2022-09-02  1918320000
                                        2022-11-10   985498000
                                        2022-12-10   905573000
Ngân hàng Sài Gòn                       2022-10-04   854448000
Ngân hàng Sài Gòn - Hà Nội              2022-09-03  1903641000
Ngân hàng Tiên Phong                    2022-10-04   985793000
Ngân hàng Việt Nam Thịnh Vượng          2022-10-04  1271324000
Ngân hàng dầu khí toàn cầu              2022-05-01   854672000
                                        2022-11-05   682468000
Ngân hàng quốc tế                       2022-09-03  1263343000
                                        2022-12-10  1220723000
Ngân hàng Á Châu                        2022-04-07   470747000
                                        2022-05-01   778000000
Ngân hàng Đông Á                        2022-02-05  1194962000
                                        2022-06-01   370324000
                                        2022-09-10  1418669000
Ngân hàng Đại Dương                     2022-05-01  1965643000
                                        2022-05-09  1168746000
                                        2022-11-04  1549094000
Ngân hàng Đầu tư và Phát triển Việt Nam 2022-02-05  1992725000
                                        2022-06-01  1979279000
                                        2022-08-09  1876064000
                                        2022-12-10  2563964000

# Câu 9

In [18]:
df9= pd.DataFrame(df.groupby(['TO_CODE','Datetime'])['MONEY'].sum())
df9

                             MONEY
TO_CODE     Datetime
ABBANK      2022-05-01   778000000
ACB         2022-12-10   905573000
Agribank    2022-02-05  1194962000
            2022-06-01  1622965000
BIDV        2022-04-07   470747000
            2022-05-01  2010421000
            2022-10-04  2125772000
            2022-11-04  1549094000
DongABank   2022-04-07  1366064000
            2022-05-01  1965643000
            2022-11-05   682468000
HDBank      2022-03-06  1379482000
            2022-06-01  1696364000
MB          2022-04-06  1539321000
            2022-06-09  1692257000
            2022-07-02  1405196000
            2022-07-09  1695602000
            2022-10-10  1155276000
            2022-12-10  1805376000
MSB         2022-06-01  1979279000
            2022-09-03  1263343000
OceanBank   2022-05-01  1254300000
            2022-10-04   985793000
SHB         2022-09-02   424754000
SeABank     2022-02-05  1992725000
            2022-05-01   854672000
            2022-05-09  1799407000
            2022-08-09  1876064000
            2022-09-03  1903641000
TPBank      2022-09-02  1918320000
VIB         2022-04-06  1280742000
            2022-05-09  1168746000
            2022-07-01   335000000
            2022-09-10  1418669000
            2022-11-10   985498000
            2022-12-10  1979311000
Vietcombank 2022-06-01   370324000

# câu 11

In [19]:
df['Khung_gio'] = df['HOURS'].str.split().str[1]
df

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY,Datetime,Khung_gio
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000,2022-05-01,PM
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000,2022-05-01,PM
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000,2022-05-01,PM
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000,2022-05-01,PM
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000,2022-05-01,PM
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000,2022-06-01,PM
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000,2022-06-01,PM
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000,2022-06-01,PM
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000,2022-06-01,PM
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000,2022-07-01,PM
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000,2022-07-02,AM
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000,2022-09-02,AM
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000,2022-09-02,AM
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000,2022-09-03,AM
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000,2022-09-03,AM
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000,2022-10-04,AM
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000,2022-10-04,AM
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000,2022-10-04,PM
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000,2022-11-04,PM
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000,2022-11-05,PM
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000,2022-02-05,PM
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000,2022-02-05,PM
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000,2022-03-06,PM
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000,2022-04-06,PM
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000,2022-04-06,PM
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000,2022-04-07,PM
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000,2022-04-07,PM
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000,2022-05-09,PM
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000,2022-05-09,PM
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000,2022-06-09,AM
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000,2022-07-09,AM
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000,2022-08-09,AM
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000,2022-09-10,AM
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000,2022-10-10,AM
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000,2022-11-10,AM
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000,2022-12-10,AM
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000,2022-12-10,AM
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000,2022-12-10,AM
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000,2022-12-10,AM

In [20]:
df.groupby(['Khung_gio','FROM'])['TRANS'].count()

Khung_gio  FROM
AM         Ngân Hàng Đông Nam Á                       1
           Ngân hàng Hàng Hải                         1
           Ngân hàng NN&PT Nông thôn Việt Nam         1
           Ngân hàng Phát triển TP Hồ Chí Minh        2
           Ngân hàng Quân đội                         3
           Ngân hàng Sài Gòn                          1
           Ngân hàng Sài Gòn - Hà Nội                 1
           Ngân hàng Tiên Phong                       1
           Ngân hàng quốc tế                          2
           Ngân hàng Đông Á                           1
           Ngân hàng Đầu tư và Phát triển Việt Nam    3
PM         Ngân Hàng Đông Nam Á                       1
           Ngân hàng ANZ Việt Nam                     2
           Ngân hàng An Bình                          2
           Ngân hàng Hàng Hải                         1
           Ngân hàng NN&PT Nông thôn Việt Nam         1
           Ngân hàng Ngoại Thương Việt Nam            2
           Ngân hàng Phát triển TP Hồ Chí Minh        1
           Ngân hàng Việt Nam Thịnh Vượng             1
           Ngân hàng dầu khí toàn cầu                 2
           Ngân hàng Á Châu                           2
           Ngân hàng Đông Á                           2
           Ngân hàng Đại Dương                        3
           Ngân hàng Đầu tư và Phát triển Việt Nam    2
Name: TRANS, dtype: int64

# câu 12

In [21]:
df.groupby(['Khung_gio','TO_CODE'])['TRANS'].count()

Khung_gio  TO_CODE
AM         ACB            1
           BIDV           1
           MB             6
           MSB            1
           OceanBank      1
           SHB            1
           SeABank        2
           TPBank         1
           VIB            3
PM         ABBANK         1
           Agribank       2
           BIDV           4
           DongABank      3
           HDBank         2
           MB             1
           MSB            1
           OceanBank      1
           SeABank        3
           VIB            3
           Vietcombank    1
Name: TRANS, dtype: int64

# câu 14

In [22]:
df['hour'] = pd.to_datetime(df['HOURS']).dt.hour
df['minute'] = pd.to_datetime(df['HOURS']).dt.minute

df

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY,Datetime,Khung_gio,hour,minute
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000,2022-05-01,PM,13,5
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000,2022-05-01,PM,14,5
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000,2022-05-01,PM,15,5
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000,2022-05-01,PM,16,5
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000,2022-05-01,PM,17,4
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000,2022-06-01,PM,18,5
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000,2022-06-01,PM,19,5
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000,2022-06-01,PM,20,5
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000,2022-06-01,PM,21,5
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000,2022-07-01,PM,22,5
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000,2022-07-02,AM,7,10
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000,2022-09-02,AM,8,14
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000,2022-09-02,AM,9,50
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000,2022-09-03,AM,11,10
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000,2022-09-03,AM,9,7
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000,2022-10-04,AM,10,6
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000,2022-10-04,AM,5,12
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000,2022-10-04,PM,21,7
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000,2022-11-04,PM,13,43
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000,2022-11-05,PM,14,43
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000,2022-02-05,PM,15,43
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000,2022-02-05,PM,16,43
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000,2022-03-06,PM,17,43
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000,2022-04-06,PM,18,43
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000,2022-04-06,PM,19,43
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000,2022-04-07,PM,20,43
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000,2022-04-07,PM,21,43
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000,2022-05-09,PM,22,43
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000,2022-05-09,PM,23,43
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000,2022-06-09,AM,0,43
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000,2022-07-09,AM,1,43
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000,2022-08-09,AM,2,43
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000,2022-09-10,AM,3,43
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000,2022-10-10,AM,4,43
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000,2022-11-10,AM,5,43
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000,2022-12-10,AM,6,43
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000,2022-12-10,AM,7,43
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000,2022-12-10,AM,8,43
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000,2022-12-10,AM,9,43

In [23]:
import numpy as np

In [24]:
sang = (df['hour'] >= 0) &  (df['hour'] < 12)
chieu = (df['hour'] >= 12) &  (df['hour'] < 18)
toi = (df['hour'] >= 18) &  (df['hour'] < 24)

conditions = [sang,chieu,toi]
timing = ['Sáng','Chiều','Tối']

df['time'] = np.select(conditions, timing)
df

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY,Datetime,Khung_gio,hour,minute,time
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000,2022-05-01,PM,13,5,Chiều
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000,2022-05-01,PM,14,5,Chiều
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000,2022-05-01,PM,15,5,Chiều
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000,2022-05-01,PM,16,5,Chiều
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000,2022-05-01,PM,17,4,Chiều
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000,2022-06-01,PM,18,5,Tối
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000,2022-06-01,PM,19,5,Tối
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000,2022-06-01,PM,20,5,Tối
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000,2022-06-01,PM,21,5,Tối
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000,2022-07-01,PM,22,5,Tối
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000,2022-07-02,AM,7,10,Sáng
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000,2022-09-02,AM,8,14,Sáng
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000,2022-09-02,AM,9,50,Sáng
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000,2022-09-03,AM,11,10,Sáng
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000,2022-09-03,AM,9,7,Sáng
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000,2022-10-04,AM,10,6,Sáng
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000,2022-10-04,AM,5,12,Sáng
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000,2022-10-04,PM,21,7,Tối
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000,2022-11-04,PM,13,43,Chiều
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000,2022-11-05,PM,14,43,Chiều
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000,2022-02-05,PM,15,43,Chiều
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000,2022-02-05,PM,16,43,Chiều
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000,2022-03-06,PM,17,43,Chiều
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000,2022-04-06,PM,18,43,Tối
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000,2022-04-06,PM,19,43,Tối
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000,2022-04-07,PM,20,43,Tối
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000,2022-04-07,PM,21,43,Tối
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000,2022-05-09,PM,22,43,Tối
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000,2022-05-09,PM,23,43,Tối
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000,2022-06-09,AM,0,43,Sáng
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000,2022-07-09,AM,1,43,Sáng
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000,2022-08-09,AM,2,43,Sáng
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000,2022-09-10,AM,3,43,Sáng
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000,2022-10-10,AM,4,43,Sáng
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000,2022-11-10,AM,5,43,Sáng
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000,2022-12-10,AM,6,43,Sáng
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000,2022-12-10,AM,7,43,Sáng
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000,2022-12-10,AM,8,43,Sáng
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000,2022-12-10,AM,9,43,Sáng

In [27]:
df.groupby(['MONTH','time'])['TRANS'].count()

MONTH  time
2      Chiều    2
3      Chiều    1
4      Tối      4
5      Chiều    5
       Tối      2
6      Sáng     1
       Tối      4
7      Sáng     2
       Tối      1
8      Sáng     1
9      Sáng     5
10     Sáng     3
       Tối      1
11     Chiều    2
       Sáng     1
12     Sáng     4
Name: TRANS, dtype: int64

# câu 6

In [76]:
df6_1 = pd.DataFrame(df.groupby(['FROM_CODE','MONTH'])['TRANS'].count())
df6_1

                   TRANS
FROM_CODE   MONTH
ABBANK      4          1
            5          1
ACB         4          1
            5          1
ANZVL       5          2
Agribank    4          1
            7          1
BIDV        2          1
            6          1
            8          1
            12         2
DongABank   2          1
            6          1
            9          1
GPBank      5          1
            11         1
HDBank      4          1
            9          1
            10         1
MB          9          1
            11         1
            12         1
MSB         6          1
            7          1
OceanBank   5          2
            11         1
SCB         10         1
SHB         9          1
SeABank     6          2
TPBank      10         1
VIB         9          1
            12         1
VPBank      10         1
Vietcombank 3          1
            7          1

In [77]:
df6_2 = pd.DataFrame(df.groupby(['TO_CODE','MONTH'])['TRANS'].count())

df6_2

                   TRANS
TO_CODE     MONTH
ABBANK      5          1
ACB         12         1
Agribank    2          1
            6          1
BIDV        4          1
            5          1
            10         2
            11         1
DongABank   4          1
            5          1
            11         1
HDBank      3          1
            6          1
MB          4          1
            6          1
            7          2
            10         1
            12         2
MSB         6          1
            9          1
OceanBank   5          1
            10         1
SHB         9          1
SeABank     2          1
            5          2
            8          1
            9          1
TPBank      9          1
VIB         4          1
            5          1
            7          1
            9          1
            11         1
            12         1
Vietcombank 6          1

In [82]:
df6= pd.concat([df6_1,df6_2])
df6

                   TRANS
FROM_CODE   MONTH
ABBANK      4          1
            5          1
ACB         4          1
            5          1
ANZVL       5          2
...                  ...
VIB         7          1
            9          1
            11         1
            12         1
Vietcombank 6          1

[70 rows x 1 columns]

In [81]:
df6.groupby('MONTH','TO_CODE')['TRANS'].count()

ValueError: No axis named TO_CODE for object type DataFrame